<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <title>Formulário de venda</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.8.1/font/bootstrap-icons.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
</head>
<body>
<div th:insert="fragments/header.html :: header"></div>

<main class="container mt-5 mh-700px">

    <div class="card">
        <div class="card-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/vendas/list}">Vendas</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Nova venda</li>
                </ol>
            </nav>
        </div>

        <div class="card-body">

            <form th:action="@{/vendas/add}" th:object="${itemVenda}" method="post">
                <input type="hidden" th:field="*{id}"/>

                <div class="row mb-3">
                    <div class="col-sm-2">
                        <input type="number" min="0.01" step="0.01" class="form-control" placeholder="Qtde"
                               th:field="*{quantidade}" required autofocus/>
                    </div>

                    <div class="col-sm-8">
                        <select id="produto" class="form-control" th:name="produto.id">
                            <option th:each="p : ${produtos}" th:value="${p.id}" th:text="${p.descricao}">
                        </select>
                    </div>

                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-outline-primary w-100" title="Adicionar ao carrinho">
                            <i class="bi bi-cart-plus"></i>
                        </button>
                    </div>
                </div>
            </form>

            <table class="table table-condensed table-striped">
                <thead>
                <tr>
                    <th>Produto</th>
                    <th>Valor</th>
                    <th>Qtde</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="i : ${session.venda.itens}">
                    <td th:text="${i.produto.descricao}"></td>
                    <td th:text="${#numbers.formatCurrency(i.produto.valor)}"></td>
                    <td th:text="${i.quantidade}"></td>
                    <td th:text="${#numbers.formatCurrency(i.produto.valor * i.quantidade)}"></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td th:colspan="3"><strong>Total</strong></td>
                    <td th:text="${#numbers.formatCurrency(session.venda.total())}"></td>
                </tr>
                </tfoot>
            </table>

            <form th:action="@{/vendas/create}" th:object="${venda}" method="post">
                <div class="row mb-3">
                    <div class="col-sm-12">
                        <select id="cliente" class="form-control" th:name="cliente.id">
                            <option th:each="c : ${clientes}" th:value="${c.id}" th:text="${c.nome}">
                        </select>
                    </div>
                </div>

                <div class="d-flex flex-row-reverse mt-2">
                    <div class="d-grid col-2 col-md-3">
                        <button class="btn btn-primary w-100" type="submit">
                            Finalizar venda
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</main>

<div th:insert="fragments/footer.html :: footer"></div>

<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
